sprawdzenie ile jest miejscowosci niesamodzielnych z adresacją w warminsko mazurskim

In [44]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import MultiPoint

In [27]:
# miejscowości z prng - warstwa punktowa
miejscowosci_prng = gpd.read_file('PRNG_MIEJSCOWOSCI_SHP/PRNG_MIEJSCOWOSCI_SHP.shp')
miejscowosci_prng

,idIIP,idPRNG,nazwaGlown,elementRoz,elementRod,dopelniacz,przymiot,statusNazw,kategoria,rodzaj,...,jezykEgzon,latynEgzon,wojewodz,powiat,gmina,idGminy,poczWerOb,wersjaOb,waznaOd,geometry
0,PL.PZGiK.320.NGRP.2,2,Osiedle Struga,Struga,Osiedle,-la -gi,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,dolnośląskie,dzierżoniowski,Dzierżoniów-gmina miejska,0202021,2022-04-01T17:18:26,2022-04-01T17:18:26,2015-06-30,POINT (334530.330 319384.250)
1,PL.PZGiK.320.NGRP.4,4,Abisynia,Abisynia,NaN,-nii,NaN,niestandaryzowana,miejscowość,część wsi,...,NaN,NaN,wielkopolskie,pleszewski,Pleszew-gmina miejsko-wiejska,3020063,2022-04-01T17:20:18,2022-04-01T17:20:18,2016-04-25,POINT (419019.650 447421.450)
2,PL.PZGiK.320.NGRP.6,6,Abisynia,Abisynia,NaN,-nii,NaN,niestandaryzowana,miejscowość,przysiółek wsi,...,NaN,NaN,lubuskie,strzelecko-drezdenecki,Stare Kurowo-gmina wiejska,0806032,2023-04-25T17:23:30,2023-04-25T17:23:30,2016-01-27,POINT (274605.810 556427.550)
3,PL.PZGiK.320.NGRP.7,7,Abisynia,Abisynia,NaN,-nii,NaN,urzędowa,miejscowość,część wsi,...,NaN,NaN,wielkopolskie,czarnkowsko-trzcianecki,Drawsko-gmina wiejska,3002032,2022-03-22T21:26:58,2022-03-22T21:26:58,2016-03-10,POINT (300270.010 557521.480)
4,PL.PZGiK.320.NGRP.8,8,Abisynia,Abisynia,NaN,-nii,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,opolskie,krapkowicki,Krapkowice-gmina miejsko-wiejska,1605023,2022-04-01T17:18:26,2022-04-01T17:18:26,2019-10-09,POINT (427022.520 292751.830)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124558,PL.PZGiK.320.NGRP.269651,269651,Osiedle Ignacego Daszyńskiego,Ignacego Daszyńskiego,Osiedle,-la Ignacego Daszyńskiego,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,lubelskie,Lublin,Lublin-gmina miejska,0663011,2023-09-11T23:08:51,2023-09-11T23:08:51,2023-09-11,POINT (750806.120 383325.670)
124559,PL.PZGiK.320.NGRP.269652,269652,Osiedle Poręba,Poręba,Osiedle,-la Poręby,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,lubelskie,Lublin,Lublin-gmina miejska,0663011,2023-09-11T23:16:06,2023-09-11T23:16:06,2023-09-11,POINT (744782.200 378872.240)
124560,PL.PZGiK.320.NGRP.269653,269653,Osiedle Widok,Widok,Osiedle,-la -ku,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,lubelskie,Lublin,Lublin-gmina miejska,0663011,2023-09-11T23:22:20,2023-09-11T23:22:20,2023-09-11,POINT (745551.260 378780.490)
124561,PL.PZGiK.320.NGRP.269654,269654,Osiedle Górki,Górki,Osiedle,-la Górek,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,lubelskie,Lublin,Lublin-gmina miejska,0663011,2023-09-11T23:28:14,2023-09-11T23:28:14,2023-09-11,POINT (746310.060 378878.540)
124562,PL.PZGiK.320.NGRP.269656,269656,Osiedle Feliksa Nowowiejskiego,Feliksa Nowowiejskiego,Osiedle,-la Feliksa Nowowiejskiego,NaN,niestandaryzowana,miejscowość,część miasta,...,NaN,NaN,lubelskie,Lublin,Lublin-gmina miejska,0663011,2023-09-11T23:38:05,2023-09-11T23:38:05,2023-09-11,POINT (747880.270 383190.560)

In [28]:
miejscowosci_prng.columns.to_list()

['idIIP',
 'idPRNG',
 'nazwaGlown',
 'elementRoz',
 'elementRod',
 'dopelniacz',
 'przymiot',
 'statusNazw',
 'kategoria',
 'rodzaj',
 'nazwaMscNd',
 'idMscNd',
 'informDod',
 'systemZewn',
 'idZewnetrz',
 'zrodloTyt',
 'zrodloData',
 'zrodloWyd',
 'rodzajRepr',
 'wspGeograf',
 'wspXY',
 'nazwaHist',
 'nazwaObocz',
 'nazwaDodat',
 'jezykDodat',
 'latynDodat',
 'endonim',
 'jezykEndon',
 'latynEndon',
 'egzonim',
 'jezykEgzon',
 'latynEgzon',
 'wojewodz',
 'powiat',
 'gmina',
 'idGminy',
 'poczWerOb',
 'wersjaOb',
 'waznaOd',
 'geometry']

In [29]:
# ograniczenie do województwa warmińsko-mazurskiego
warminskie_prng = miejscowosci_prng[miejscowosci_prng['wojewodz'] == 'warmińsko-mazurskie']
# zmiana typu kolumn na numeryczne - int64
warminskie_prng['idZewnetrz'] = pd.to_numeric(warminskie_prng['idZewnetrz'], errors='coerce').astype('Int64')
warminskie_prng['idMscNd'] = pd.to_numeric(warminskie_prng['idMscNd'], errors='coerce').astype('Int64')
# ograniczenie zbioru tylko do kilku najważniejszych kolumn
warminskie_prng = warminskie_prng[['idZewnetrz', 'rodzaj', 'nazwaGlown', 'idMscNd', 'nazwaMscNd', 'geometry']]
# zmiana nazwy kolumny z idZewnetrz na SIMC_id (dla lepszej czytelności i umożliwienia późniejszego łączenia tabel)
warminskie_prng.rename(columns={'idZewnetrz': 'SIMC_id'}, inplace=True)
# usunięcie rekordów, w których brakuje identyfikatora SIMC
warminskie_prng.dropna(subset=['SIMC_id'], inplace=True)
warminskie_prng

C:\Users\agnie\AppData\Local\Programs\Python\Python310\lib\site-packages\geopandas\geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,SIMC_id,rodzaj,nazwaGlown,idMscNd,nazwaMscNd,geometry
71,149222,wieś,Adamowo,<NA>,NaN,POINT (517072.190 698942.620)
73,157948,wieś,Adamowo,<NA>,NaN,POINT (522923.230 649553.540)
79,117890,wieś,Adamowo,<NA>,NaN,POINT (561486.270 590967.880)
85,471403,wieś,Adamowo,<NA>,NaN,POINT (630835.770 669115.890)
92,149647,część wsi,Adamowo-Osiedle,149630,Władysławowo,POINT (521525.150 699758.410)
...,...,...,...,...,...,...
124183,1044577,część wsi,Tama za Wodą,844117,Trzcin,POINT (549613.840 611421.500)
124184,1044407,część wsi,Pod Mątowo,844146,Zwiniarz,POINT (555161.830 618831.980)
124241,1045803,część wsi,Ostrzywilk,847280,Radomno,POINT (537562.224 628117.656)
124338,1067526,osada,Turowski Młyn,<NA>,NaN,POINT (579057.870 622015.670)
124487,964850,część miasta,Osiedle Kwiatowa,<NA>,Morąg,POINT (560742.910 672701.930)

In [30]:
# wyłączenie miast z analizy
warminskie_prng = warminskie_prng[~warminskie_prng['rodzaj'].isin(['miasto', 'część miasta', 'osiedle'])]
# usunięcie takich samych rekordów
warminskie_prng.drop_duplicates(inplace=True)
warminskie_prng

C:\Users\agnie\AppData\Local\Temp\ipykernel_3844\2875870546.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  warminskie_prng.drop_duplicates(inplace=True)

,SIMC_id,rodzaj,nazwaGlown,idMscNd,nazwaMscNd,geometry
71,149222,wieś,Adamowo,<NA>,NaN,POINT (517072.190 698942.620)
73,157948,wieś,Adamowo,<NA>,NaN,POINT (522923.230 649553.540)
79,117890,wieś,Adamowo,<NA>,NaN,POINT (561486.270 590967.880)
85,471403,wieś,Adamowo,<NA>,NaN,POINT (630835.770 669115.890)
92,149647,część wsi,Adamowo-Osiedle,149630,Władysławowo,POINT (521525.150 699758.410)
...,...,...,...,...,...,...
124182,1044583,część wsi,Trzech Króli,844100,Świniarc,POINT (552390.880 620035.670)
124183,1044577,część wsi,Tama za Wodą,844117,Trzcin,POINT (549613.840 611421.500)
124184,1044407,część wsi,Pod Mątowo,844146,Zwiniarz,POINT (555161.830 618831.980)
124241,1045803,część wsi,Ostrzywilk,847280,Radomno,POINT (537562.224 628117.656)
124338,1067526,osada,Turowski Młyn,<NA>,NaN,POINT (579057.870 622015.670)

In [31]:
# dodanie kolumny 'czy_samodzielna'
warminskie_prng['czy_samodzielna'] = [True if pd.isna(id_msc_nd) else False for id_msc_nd in warminskie_prng['idMscNd']]
warminskie_prng

C:\Users\agnie\AppData\Local\Programs\Python\Python310\lib\site-packages\geopandas\geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,SIMC_id,rodzaj,nazwaGlown,idMscNd,nazwaMscNd,geometry,czy_samodzielna
71,149222,wieś,Adamowo,<NA>,NaN,POINT (517072.190 698942.620),True
73,157948,wieś,Adamowo,<NA>,NaN,POINT (522923.230 649553.540),True
79,117890,wieś,Adamowo,<NA>,NaN,POINT (561486.270 590967.880),True
85,471403,wieś,Adamowo,<NA>,NaN,POINT (630835.770 669115.890),True
92,149647,część wsi,Adamowo-Osiedle,149630,Władysławowo,POINT (521525.150 699758.410),False
...,...,...,...,...,...,...,...
124182,1044583,część wsi,Trzech Króli,844100,Świniarc,POINT (552390.880 620035.670),False
124183,1044577,część wsi,Tama za Wodą,844117,Trzcin,POINT (549613.840 611421.500),False
124184,1044407,część wsi,Pod Mątowo,844146,Zwiniarz,POINT (555161.830 618831.980),False
124241,1045803,część wsi,Ostrzywilk,847280,Radomno,POINT (537562.224 628117.656),False
124338,1067526,osada,Turowski Młyn,<NA>,NaN,POINT (579057.870 622015.670),True

In [32]:
# pobranie punktów adresowych - warstwa punktowa
punkty_adresowe = gpd.read_file('28/PRG_PunktyAdresowe_28.shp')
# zmiana typu kolumny na numeryczny - int64
punkty_adresowe['SIMC_id'] = pd.to_numeric(punkty_adresowe['SIMC_id'], errors='coerce').astype('Int64')
punkty_adresowe

,TERYT,PNA,SIMC_id,SIMC_nazwa,ULIC_id,ULIC_nazwa,Numer,geometry
0,280101,11-200,964583,Bartoszyce,26464,Żeromskiego,1A,POINT (618400.759 712089.170)
1,280101,11-200,964583,Bartoszyce,03687,Jarosława Dąbrowskiego,1,POINT (617395.412 711090.171)
2,280101,11-200,964583,Bartoszyce,08357,Kętrzyńska,25,POINT (618364.906 711053.957)
3,280101,11-200,964583,Bartoszyce,13782,Nad Łyną,15,POINT (617578.190 711628.687)
4,280101,11-200,964583,Bartoszyce,10157,Krzywa,32,POINT (618290.436 712335.525)
...,...,...,...,...,...,...,...,...
248107,286201,10-811,964465,Olsztyn,26492,Żniwna,21,POINT (593641.607 656339.179)
248108,286201,11-041,964465,Olsztyn,07931,Kanarkowa,47,POINT (593334.034 661153.432)
248109,286201,11-041,964465,Olsztyn,07931,Kanarkowa,47A,POINT (593396.818 661183.127)
248110,286201,10-685,964465,Olsztyn,00744,Franciszka Barcza,50N,POINT (599006.177 654747.886)
248111,286201,10-685,964465,Olsztyn,00744,Franciszka Barcza,50M,POINT (599015.665 654777.720)

In [33]:
punkty_adresowe.columns.to_list()

['TERYT',
 'PNA',
 'SIMC_id',
 'SIMC_nazwa',
 'ULIC_id',
 'ULIC_nazwa',
 'Numer',
 'geometry']

In [34]:
# usunięcie rekordów, w których brakuje identyfikatora SIMC
punkty_adresowe_simc = punkty_adresowe.dropna(subset=['SIMC_id'])
# ograniczenie zbioru tylko do najważniejszych kolumn i identyfikatora SIMC i geometrii
punkty_adresowe_simc = punkty_adresowe_simc[['SIMC_id', 'geometry']]
# zgrupowanie rekordów według identyfikatora SIMC - zmiana z geometrii pojedynczych punktów (Point) na skupiska punktów (MultiPoint)
punkty_adresowe_simc = punkty_adresowe_simc.groupby('SIMC_id')['geometry'].apply(lambda x: MultiPoint(list(x))).reset_index()

łączenie tabel

In [39]:
# łączenie tabel
miejscowosci_z_adresacja = pd.merge(punkty_adresowe_simc, warminskie_prng[['SIMC_id', 'czy_samodzielna', 'nazwaGlown', 'rodzaj']], how='left', on='SIMC_id')
# usunięcie rekordów z brakującym identyfikatorem SIMC
miejscowosci_z_adresacja.dropna(subset=['SIMC_id'], inplace=True)
# usunięcie duplikatów
miejscowosci_z_adresacja.drop_duplicates(inplace=True)
miejscowosci_z_adresacja

,SIMC_id,geometry,czy_samodzielna,nazwaGlown,rodzaj
0,113419,"MULTIPOINT (576833.226 600114.868, 576347.223 ...",True,Burkat,wieś
1,113431,"MULTIPOINT (579297.672 591570.172, 579281.468 ...",True,Bursz,wieś
2,113448,"MULTIPOINT (576609.403 602643.066, 576685.907 ...",True,Filice,wieś
3,113454,"MULTIPOINT (577813.172 614922.465, 578464.757 ...",True,Gąsiorowo,wieś
4,113460,"MULTIPOINT (573044.280 592275.710, 572368.330 ...",True,Gnojenko,wieś
...,...,...,...,...,...
3825,1064516,"MULTIPOINT (661466.676 641875.828, 661482.301 ...",True,Karwica Mazurska,osada
3826,1066828,"MULTIPOINT (684896.512 685596.152, 685294.711 ...",NaN,NaN,NaN
3827,1067147,"MULTIPOINT (545312.238 719129.449, 545413.410 ...",True,Niewiastowo,osada
3828,1067526,MULTIPOINT (579064.300 622061.000),True,Turowski Młyn,osada
3829,1067578,"MULTIPOINT (691437.190 665197.210, 691411.410 ...",True,Mikosze-Osada,wieś

In [41]:
# podział na zbiór miejscowości samodzielnych i niesamodzielnych
zbior_samodzielny = miejscowosci_z_adresacja[miejscowosci_z_adresacja['czy_samodzielna'] == True]
zbior_niesamodzielny = miejscowosci_z_adresacja[miejscowosci_z_adresacja['czy_samodzielna'] == False]

In [42]:
zbior_samodzielny

,SIMC_id,geometry,czy_samodzielna,nazwaGlown,rodzaj
0,113419,"MULTIPOINT (576833.226 600114.868, 576347.223 ...",True,Burkat,wieś
1,113431,"MULTIPOINT (579297.672 591570.172, 579281.468 ...",True,Bursz,wieś
2,113448,"MULTIPOINT (576609.403 602643.066, 576685.907 ...",True,Filice,wieś
3,113454,"MULTIPOINT (577813.172 614922.465, 578464.757 ...",True,Gąsiorowo,wieś
4,113460,"MULTIPOINT (573044.280 592275.710, 572368.330 ...",True,Gnojenko,wieś
...,...,...,...,...,...
3824,1064500,MULTIPOINT (546311.293 721639.319),True,Wilanowo-Leśniczówka,osada leśna
3825,1064516,"MULTIPOINT (661466.676 641875.828, 661482.301 ...",True,Karwica Mazurska,osada
3827,1067147,"MULTIPOINT (545312.238 719129.449, 545413.410 ...",True,Niewiastowo,osada
3828,1067526,MULTIPOINT (579064.300 622061.000),True,Turowski Młyn,osada
3829,1067578,"MULTIPOINT (691437.190 665197.210, 691411.410 ...",True,Mikosze-Osada,wieś

In [43]:
zbior_niesamodzielny

,SIMC_id,geometry,czy_samodzielna,nazwaGlown,rodzaj
48,116547,"MULTIPOINT (587104.704 596041.370, 587209.098 ...",False,Chorab,przysiółek wsi
50,116560,"MULTIPOINT (590281.505 590582.715, 590646.154 ...",False,Szczepka,część wsi
133,148375,"MULTIPOINT (556952.122 727846.064, 557019.326 ...",False,Kalina,kolonia wsi
158,148620,"MULTIPOINT (554901.770 726486.334, 554867.261 ...",False,Siedlisko,kolonia wsi
164,148702,"MULTIPOINT (550855.853 723656.415, 551445.015 ...",False,Prętki,część kolonii
...,...,...,...,...,...
3811,1045401,MULTIPOINT (697656.670 699581.360),False,Jeleni Róg,przysiółek osady
3812,1045453,MULTIPOINT (698018.779 700092.689),False,Łękuk Wielki,przysiółek osady
3816,1056020,"MULTIPOINT (659647.066 712132.883, 659980.945 ...",False,Stare Jegławki,część wsi
3821,1063110,"MULTIPOINT (624210.582 673622.750, 624698.449 ...",False,Czerwonka-Stacja,część wsi
3822,1063126,"MULTIPOINT (567916.970 682342.200, 567889.430 ...",False,Henrykowo,osada wsi

In [48]:
zbior_niesamodzielny.groupby('rodzaj')['SIMC_id'].count().reset_index()

             rodzaj  SIMC_id
0     część kolonii        2
1         część wsi      122
2       kolonia wsi        8
3   osada leśna wsi        1
4         osada wsi        6
5  przysiółek osady       16
6    przysiółek wsi       63